@import "styles/config";

.main {
  width: 100%;
  max-width: var(--width-application);
  margin: 0 auto;
  padding: 70px 0;

  @media (max-width: $mobile) {
    padding: 60px 15px;
  }

  .head {
    padding-bottom: 10px;
  }

  .container {

    table {
      width: 100%;
      border-collapse: collapse;

      thead {

        tr {

          td {
            color: $primaryColor;
            font-size: 14px;
            font-weight: 500;
            line-height: 1.6;
            padding: 16px;
            text-align: center;
            background: #fafafa;

            &:first-child {

              @media (max-width: $mobile) {
                display: none;
              }
            }
          }
        }
      }

      tbody {

        tr {

          td {
            font-size: 14px;
            font-weight: 400;
            padding: 8px;
            text-align: center;
            border: $borderLine;

            &:first-child {
              text-align: left;
            }

            h3 {
              color: $textColor;
              font-size: 14px;
              font-weight: 400;
              line-height: 1.2;
            }
          }

          &.spin {
            td {
              padding: 50px 0;
              text-align: center;
            }
          }

          &.header {

            td {
              color: $primaryColor;
              font-size: 14px;
              font-weight: 400;
              line-height: 1.4;
              text-align: left;
              border: 0;
              padding-top: 20px;

              .no {
                display: flex;
              }

              .ext {
                text-align: right;
              }

              span {
                display: inline-block;
                margin-right: 3px;
              }

              a {
                display: flex;
                align-items: center;
                padding-left: 5px;

                &:hover {
                  color: $hoverColor;
                }
              }
            }
          }

          &.product {

            td {

              &:first-child {
                text-align: center;

                @media (max-width: $mobile) {
                  display: none;
                }
              }
            }
          }

          &.total {
            margin-bottom: 20px;

            td {
              color: $primaryColor;
              font-size: 12px;
              font-weight: 400;
              line-height: 1.4;
              text-align: right;

              p {
                padding: 2px 10px;
              }
            }
          }
        }
      }
    }

    .paginate {
      display: flex;
      margin-top: 50px;
      justify-content: center;
    }
  }
}