@import "styles/config";

.main {
  width: 100%;
  max-width: var(--width-application);
  margin: 0 auto;
  padding-top: 50px;

  @media (max-width: $mobile) {
    padding-left: 15px;
    padding-right: 15px;
  }

  .breadcrumb {
    display: flex;
    margin-bottom: 18px;

    @media (max-width: $mobile) {
      margin-bottom: 20px;
      justify-content: center;
    }
  }

  .product {
    display: flex;
    margin-bottom: 70px;

    @media (max-width: $mobile) {
      display: block;
    }

    .banner {
      width: 40%;

      @media (max-width: $mobile) {
        width: 100%;
        margin-bottom: 50px;
      }
    }

    .summary {
      width: 60%;
      padding-left: 30px;

      @media (max-width: $mobile) {
        width: 100%;
        padding-left: 0;
      }

      h1 {
        margin-bottom: 20px;
        font-size: 26px;
        font-weight: 400;
        line-height: 1.1;
      }

      .description {
        color: #666;
        font-size: 13px;
        font-weight: 300;
        margin-bottom: 20px;
        line-height: 1.8;
      }


      .meta {
        color: #666;
        font-size: 13px;
        font-weight: 300;
        line-height: 1.8;

        a {
          color: #111;
        }
      }
    }
  }

  .information {

    .description {

    }

    .attribute {
      width: 100%;
      border-collapse: collapse;

      tbody {

        tr {

          td {
            padding: 5px 10px;
            border: $borderLine;

            &:first-child {
              width: 30%;
            }
          }
        }
      }
    }
  }

  .recommend {
    padding: 140px 0;

    h2 {
      color: #111;
      font-size: 32px;
      font-weight: 400;
      letter-spacing: 1px;
      text-align: center;
      margin-bottom: 50px;
    }

    .inner {

    }
  }
}